In [238]:
import pandas as pd
import numpy as np
import glob
import os
import holidays as ho
from sqlalchemy import create_engine, text
engine = create_engine('postgresql+psycopg2://postgres:postgres@localhost:5436/postgres')

In [47]:
# part one tickers table

tickers = pd.read_csv('/Users/yorkmacbook064/Downloads/markets/symbols_valid_meta.csv')
tickers

,Nasdaq Traded,Symbol,Security Name,Listing Exchange,Market Category,ETF,Round Lot Size,Test Issue,Financial Status,CQS Symbol,NASDAQ Symbol,NextShares
0,Y,A,"Agilent Technologies, Inc. Common Stock",N,,N,100.0,N,NaN,A,A,N
1,Y,AA,Alcoa Corporation Common Stock,N,,N,100.0,N,NaN,AA,AA,N
2,Y,AAAU,Perth Mint Physical Gold ETF,P,,Y,100.0,N,NaN,AAAU,AAAU,N
3,Y,AACG,ATA Creativity Global - American Depositary Sh...,Q,G,N,100.0,N,N,NaN,AACG,N
4,Y,AADR,AdvisorShares Dorsey Wright ADR ETF,P,,Y,100.0,N,NaN,AADR,AADR,N
...,...,...,...,...,...,...,...,...,...,...,...,...
8044,Y,ZUO,"Zuora, Inc. Class A Common Stock",N,,N,100.0,N,NaN,ZUO,ZUO,N
8045,Y,ZVO,Zovio Inc. - Common Stock,Q,Q,N,100.0,N,N,NaN,ZVO,N
8046,Y,ZYME,Zymeworks Inc. Common Shares,N,,N,100.0,N,NaN,ZYME,ZYME,N
8047,Y,ZYNE,"Zynerba Pharmaceuticals, Inc. - Common Stock",Q,G,N,100.0,N,N,NaN,ZYNE,N
8048,Y,ZYXI,"Zynex, Inc. - Common Stock",Q,S,N,100.0,N,N,NaN,ZYXI,N

In [51]:
create_table_tickers = """
CREATE TABLE tickers (
    "Symbol" TEXT NOT NULL,
    "Security Name" TEXT NOT NULL,
    "Listing Exchange" TEXT NOT NULL,
    "Market Category" TEXT,
    "ETF" TEXT NOT NULL,
    "Round Lot Size" FLOAT NOT NULL,
    "Test Issue" TEXT NOT NULL,
    "Financial Status" TEXT,
    "CQS Symbol" TEXT,
    "NASDAQ Symbol" VARCHAR(10)  PRIMARY KEY,
    "NextShares" TEXT NOT NULL,
    "Nasdaq Traded" TEXT NOT NULL);
    """

In [52]:
with engine.begin() as conn:
    conn.execute(text(create_table_tickers))

In [53]:
# part one tickers table final

tickers.to_sql('tickers', engine, if_exists='append', index=False)

49

In [54]:
# part one daily prices table start

folder_path = "/Users/yorkmacbook064/Downloads/markets/stocks"

csv_files = glob.glob(os.path.join(folder_path, "*.csv"))

all_data = []

for file in csv_files:
    stock_name = os.path.splitext(os.path.basename(file))[0]
    df = pd.read_csv(file)
    df["Symbol"] = stock_name
    all_data.append(df)

stock_df = pd.concat(all_data, ignore_index=True)

print(stock_df.head())

         Date       Open       High        Low      Close  Adj Close   Volume  \
0  2016-01-08  19.162428  19.162428  19.114038  19.114038  11.411459  10300.0
1  2016-01-11  19.133394  19.230173  19.017258  19.017258  11.353675  49600.0
2  2016-01-12  19.113070  19.113070  19.103392  19.103392  11.405104   2300.0
3  2016-01-13  19.103392  19.103392  19.103392  19.103392  11.405104      0.0
4  2016-01-14  19.065647  19.385021  18.968868  19.104361  11.405683  26100.0

  Symbol
0    RIV
1    RIV
2    RIV
3    RIV
4    RIV

In [55]:
folder_path = "/Users/yorkmacbook064/Downloads/markets/etfs"

csv_files = glob.glob(os.path.join(folder_path, "*.csv"))

all_data = []

for file in csv_files:
    etf_name = os.path.splitext(os.path.basename(file))[0]
    df = pd.read_csv(file)
    df["Symbol"] = etf_name
    all_data.append(df)

etf_df = pd.concat(all_data, ignore_index=True)

print(etf_df.head())

         Date     Open     High      Low    Close  Adj Close  Volume Symbol
0  2013-06-18  4.80733  4.80733  4.80733  4.80733   4.486191     0.0   SPXB
1  2013-06-19  4.99133  4.99133  4.99133  4.99133   4.657899     0.0   SPXB
2  2013-06-20  4.91667  4.91667  4.91667  4.91667   4.588226     0.0   SPXB
3  2013-06-21  5.02000  5.02000  5.02000  5.02000   4.684653     0.0   SPXB
4  2013-06-24  5.13667  5.13667  5.13667  5.13667   4.793529     0.0   SPXB

In [56]:
daily_prices = pd.concat([etf_df, stock_df], ignore_index=True)
daily_prices['Date'] = pd.to_datetime(daily_prices['Date'])
daily_prices.sort_values(by=['Symbol','Date'], inplace=True)
daily_prices

,Date,Open,High,Low,Close,Adj Close,Volume,Symbol
5013642,1999-11-18,32.546494,35.765381,28.612303,31.473534,27.068665,62546300.0,A
5013643,1999-11-19,30.713520,30.758226,28.478184,28.880543,24.838577,15234100.0,A
5013644,1999-11-22,29.551144,31.473534,28.657009,31.473534,27.068665,6577800.0,A
5013645,1999-11-23,30.400572,31.205294,28.612303,28.612303,24.607880,5975600.0,A
5013646,1999-11-24,28.701717,29.998211,28.612303,29.372318,25.261524,4843200.0,A
...,...,...,...,...,...,...,...,...
21828636,2020-03-26,10.230000,11.430000,10.230000,11.100000,11.100000,189500.0,ZYXI
21828637,2020-03-27,10.700000,10.980000,10.060000,10.300000,10.300000,145000.0,ZYXI
21828638,2020-03-30,10.160000,11.060000,10.160000,10.800000,10.800000,162300.0,ZYXI
21828639,2020-03-31,10.680000,11.140000,10.590000,11.070000,11.070000,280400.0,ZYXI
21828640,2020-04-01,11.160000,11.160000,10.510000,10.920000,10.920000,315900.0,ZYXI

In [57]:
# part 5.a

daily_prices['Percent Change'] = daily_prices.groupby('Symbol')['Adj Close'].pct_change()
daily_prices

/var/folders/4d/ypqv_xfd1_x2khqr9gl1mx5w0000gn/T/ipykernel_98478/213483872.py:3: FutureWarning: The default fill_method='ffill' in SeriesGroupBy.pct_change is deprecated and will be removed in a future version. Either fill in any non-leading NA values prior to calling pct_change or specify 'fill_method=None' to not fill NA values.
  daily_prices['Percent Change'] = daily_prices.groupby('Symbol')['Adj Close'].pct_change()

,Date,Open,High,Low,Close,Adj Close,Volume,Symbol,Percent Change
5013642,1999-11-18,32.546494,35.765381,28.612303,31.473534,27.068665,62546300.0,A,NaN
5013643,1999-11-19,30.713520,30.758226,28.478184,28.880543,24.838577,15234100.0,A,-0.082386
5013644,1999-11-22,29.551144,31.473534,28.657009,31.473534,27.068665,6577800.0,A,0.089783
5013645,1999-11-23,30.400572,31.205294,28.612303,28.612303,24.607880,5975600.0,A,-0.090909
5013646,1999-11-24,28.701717,29.998211,28.612303,29.372318,25.261524,4843200.0,A,0.026562
...,...,...,...,...,...,...,...,...,...
21828636,2020-03-26,10.230000,11.430000,10.230000,11.100000,11.100000,189500.0,ZYXI,0.072464
21828637,2020-03-27,10.700000,10.980000,10.060000,10.300000,10.300000,145000.0,ZYXI,-0.072072
21828638,2020-03-30,10.160000,11.060000,10.160000,10.800000,10.800000,162300.0,ZYXI,0.048544
21828639,2020-03-31,10.680000,11.140000,10.590000,11.070000,11.070000,280400.0,ZYXI,0.025000
21828640,2020-04-01,11.160000,11.160000,10.510000,10.920000,10.920000,315900.0,ZYXI,-0.013550

In [58]:
# part 5.b

daily_prices['Daily Return'] = daily_prices.groupby('Symbol')['Adj Close'].shift(1) * daily_prices['Percent Change']
daily_prices['Daily Return'] = daily_prices['Daily Return'].round(2)
daily_prices

,Date,Open,High,Low,Close,Adj Close,Volume,Symbol,Percent Change,Daily Return
5013642,1999-11-18,32.546494,35.765381,28.612303,31.473534,27.068665,62546300.0,A,NaN,NaN
5013643,1999-11-19,30.713520,30.758226,28.478184,28.880543,24.838577,15234100.0,A,-0.082386,-2.23
5013644,1999-11-22,29.551144,31.473534,28.657009,31.473534,27.068665,6577800.0,A,0.089783,2.23
5013645,1999-11-23,30.400572,31.205294,28.612303,28.612303,24.607880,5975600.0,A,-0.090909,-2.46
5013646,1999-11-24,28.701717,29.998211,28.612303,29.372318,25.261524,4843200.0,A,0.026562,0.65
...,...,...,...,...,...,...,...,...,...,...
21828636,2020-03-26,10.230000,11.430000,10.230000,11.100000,11.100000,189500.0,ZYXI,0.072464,0.75
21828637,2020-03-27,10.700000,10.980000,10.060000,10.300000,10.300000,145000.0,ZYXI,-0.072072,-0.80
21828638,2020-03-30,10.160000,11.060000,10.160000,10.800000,10.800000,162300.0,ZYXI,0.048544,0.50
21828639,2020-03-31,10.680000,11.140000,10.590000,11.070000,11.070000,280400.0,ZYXI,0.025000,0.27
21828640,2020-04-01,11.160000,11.160000,10.510000,10.920000,10.920000,315900.0,ZYXI,-0.013550,-0.15

In [59]:
# Part 5.c

daily_prices['Total Trades Range'] = daily_prices.apply(
    lambda row: f"{row['Low'] * row['Volume']:.2f} - {row['High'] * row['Volume']:.2f}",
    axis=1)
daily_prices

,Date,Open,High,Low,Close,Adj Close,Volume,Symbol,Percent Change,Daily Return,Total Trades Range
5013642,1999-11-18,32.546494,35.765381,28.612303,31.473534,27.068665,62546300.0,A,NaN,NaN,1789593673.38 - 2236992240.84
5013643,1999-11-19,30.713520,30.758226,28.478184,28.880543,24.838577,15234100.0,A,-0.082386,-2.23,433839499.01 - 468573896.72
5013644,1999-11-22,29.551144,31.473534,28.657009,31.473534,27.068665,6577800.0,A,0.089783,2.23,188500074.62 - 207026609.51
5013645,1999-11-23,30.400572,31.205294,28.612303,28.612303,24.607880,5975600.0,A,-0.090909,-2.46,170975676.49 - 186470352.77
5013646,1999-11-24,28.701717,29.998211,28.612303,29.372318,25.261524,4843200.0,A,0.026562,0.65,138575104.82 - 145287335.06
...,...,...,...,...,...,...,...,...,...,...,...
21828636,2020-03-26,10.230000,11.430000,10.230000,11.100000,11.100000,189500.0,ZYXI,0.072464,0.75,1938584.91 - 2165985.06
21828637,2020-03-27,10.700000,10.980000,10.060000,10.300000,10.300000,145000.0,ZYXI,-0.072072,-0.80,1458700.06 - 1592099.93
21828638,2020-03-30,10.160000,11.060000,10.160000,10.800000,10.800000,162300.0,ZYXI,0.048544,0.50,1648967.98 - 1795038.07
21828639,2020-03-31,10.680000,11.140000,10.590000,11.070000,11.070000,280400.0,ZYXI,0.025000,0.27,2969436.04 - 3123656.10
21828640,2020-04-01,11.160000,11.160000,10.510000,10.920000,10.920000,315900.0,ZYXI,-0.013550,-0.15,3320109.07 - 3525443.95

In [60]:
# Part 5.d

daily_prices['Abs Diff Close'] = (daily_prices["Adj Close"] - daily_prices["Close"]).abs()
daily_prices

,Date,Open,High,Low,Close,Adj Close,Volume,Symbol,Percent Change,Daily Return,Total Trades Range,Abs Diff Close
5013642,1999-11-18,32.546494,35.765381,28.612303,31.473534,27.068665,62546300.0,A,NaN,NaN,1789593673.38 - 2236992240.84,4.404869
5013643,1999-11-19,30.713520,30.758226,28.478184,28.880543,24.838577,15234100.0,A,-0.082386,-2.23,433839499.01 - 468573896.72,4.041965
5013644,1999-11-22,29.551144,31.473534,28.657009,31.473534,27.068665,6577800.0,A,0.089783,2.23,188500074.62 - 207026609.51,4.404869
5013645,1999-11-23,30.400572,31.205294,28.612303,28.612303,24.607880,5975600.0,A,-0.090909,-2.46,170975676.49 - 186470352.77,4.004423
5013646,1999-11-24,28.701717,29.998211,28.612303,29.372318,25.261524,4843200.0,A,0.026562,0.65,138575104.82 - 145287335.06,4.110794
...,...,...,...,...,...,...,...,...,...,...,...,...
21828636,2020-03-26,10.230000,11.430000,10.230000,11.100000,11.100000,189500.0,ZYXI,0.072464,0.75,1938584.91 - 2165985.06,0.000000
21828637,2020-03-27,10.700000,10.980000,10.060000,10.300000,10.300000,145000.0,ZYXI,-0.072072,-0.80,1458700.06 - 1592099.93,0.000000
21828638,2020-03-30,10.160000,11.060000,10.160000,10.800000,10.800000,162300.0,ZYXI,0.048544,0.50,1648967.98 - 1795038.07,0.000000
21828639,2020-03-31,10.680000,11.140000,10.590000,11.070000,11.070000,280400.0,ZYXI,0.025000,0.27,2969436.04 - 3123656.10,0.000000
21828640,2020-04-01,11.160000,11.160000,10.510000,10.920000,10.920000,315900.0,ZYXI,-0.013550,-0.15,3320109.07 - 3525443.95,0.000000

In [62]:
# Part 5.e

daily_prices['Log_Return'] = np.log(daily_prices['Adj Close'] / daily_prices['Adj Close'].shift(1))

daily_prices['30 Day Volatility'] = daily_prices.groupby('Symbol')['Log_Return'].transform(
    lambda x: x.rolling(window=30).std())

vol_sum = daily_prices.groupby('Symbol')['30 Day Volatility'].mean().dropna()

top5_most = vol_sum.sort_values(ascending=False).head(5)
print(top5_most)

top5_least = vol_sum.sort_values().head(5)
print(top5_least)

/Users/yorkmacbook064/PycharmProjects/GSharrow-market-etl/.venv/lib/python3.13/site-packages/pandas/core/arraylike.py:399: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/yorkmacbook064/PycharmProjects/GSharrow-market-etl/.venv/lib/python3.13/site-packages/pandas/core/arraylike.py:399: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

Symbol
DTP    3.211742
MEC    2.757522
PBC    2.704113
HMI    1.707333
EIC    1.572428
Name: 30 Day Volatility, dtype: float64
Symbol
GBIL    0.000235
BIL     0.000320
SHV     0.000334
MINT    0.000424
NEAR    0.000568
Name: 30 Day Volatility, dtype: float64

In [155]:
create_table_daily_prices = """
CREATE TABLE daily_prices(
    "Id" SERIAL PRIMARY KEY,
    "Date" DATE NOT NULL,
    "Open" FLOAT,
    "High" FLOAT,
    "Low" FLOAT,
    "Close" FLOAT,
    "Adj Close" FLOAT,
    "Volume" FLOAT,
    "Symbol" VARCHAR(10) NOT NULL,
    "Percent Change" FLOAT,
    "Daily Return" FLOAT,
    "Abs Diff Close" FLOAT,
    "Log_Return" FLOAT,
    "Total Trades Range" TEXT,
    "30 Day Volatility" FLOAT,
    FOREIGN KEY ("Symbol") REFERENCES tickers("NASDAQ Symbol") ON UPDATE CASCADE ON DELETE CASCADE
)
"""

In [156]:
with engine.begin() as conn:
    conn.execute(text(create_table_daily_prices))

In [75]:
daily_prices

,Date,Open,High,Low,Close,Adj Close,Volume,Symbol,Percent Change,Daily Return,Total Trades Range,Abs Diff Close,Log_Return,30 Day Volatility
5013642,1999-11-18,32.546494,35.765381,28.612303,31.473534,27.068665,62546300.0,A,NaN,NaN,1789593673.38 - 2236992240.84,4.404869,NaN,NaN
5013643,1999-11-19,30.713520,30.758226,28.478184,28.880543,24.838577,15234100.0,A,-0.082386,-2.23,433839499.01 - 468573896.72,4.041965,-0.085979,NaN
5013644,1999-11-22,29.551144,31.473534,28.657009,31.473534,27.068665,6577800.0,A,0.089783,2.23,188500074.62 - 207026609.51,4.404869,0.085979,NaN
5013645,1999-11-23,30.400572,31.205294,28.612303,28.612303,24.607880,5975600.0,A,-0.090909,-2.46,170975676.49 - 186470352.77,4.004423,-0.095310,NaN
5013646,1999-11-24,28.701717,29.998211,28.612303,29.372318,25.261524,4843200.0,A,0.026562,0.65,138575104.82 - 145287335.06,4.110794,0.026216,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21828636,2020-03-26,10.230000,11.430000,10.230000,11.100000,11.100000,189500.0,ZYXI,0.072464,0.75,1938584.91 - 2165985.06,0.000000,0.069959,0.083638
21828637,2020-03-27,10.700000,10.980000,10.060000,10.300000,10.300000,145000.0,ZYXI,-0.072072,-0.80,1458700.06 - 1592099.93,0.000000,-0.074801,0.084812
21828638,2020-03-30,10.160000,11.060000,10.160000,10.800000,10.800000,162300.0,ZYXI,0.048544,0.50,1648967.98 - 1795038.07,0.000000,0.047402,0.085223
21828639,2020-03-31,10.680000,11.140000,10.590000,11.070000,11.070000,280400.0,ZYXI,0.025000,0.27,2969436.04 - 3123656.10,0.000000,0.024693,0.085324
21828640,2020-04-01,11.160000,11.160000,10.510000,10.920000,10.920000,315900.0,ZYXI,-0.013550,-0.15,3320109.07 - 3525443.95,0.000000,-0.013643,0.085205

In [158]:
# Part 1 daily prices final table

daily_prices.to_sql('daily_prices', engine, if_exists='append', index=False)

758

In [84]:
# part 2.a
monthly_trade = daily_prices[['Symbol', 'Date', 'Low', 'High', 'Volume']]
monthly_trade['Dollar_Range'] = monthly_trade.apply(lambda row: (row['Low'] * row['Volume'], row['High'] * row['Volume']), axis=1)
# monthly_trade

monthly_trade['Min Dollar'] = monthly_trade['Dollar_Range'].apply(lambda x: x[0])
monthly_trade['Max Dollar'] = monthly_trade['Dollar_Range'].apply(lambda x: x[1])

monthly_summary = monthly_trade.groupby(
    ['Symbol', pd.Grouper(key='Date', freq='M')]
).agg(
    Total_min=('Min Dollar', 'sum'),
    Total_max=('Max Dollar', 'sum')
).reset_index()
monthly_summary

/var/folders/4d/ypqv_xfd1_x2khqr9gl1mx5w0000gn/T/ipykernel_98478/3520475379.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  monthly_trade['Min Dollar'] = monthly_trade['Dollar_Range'].apply(lambda x: x[0])
/var/folders/4d/ypqv_xfd1_x2khqr9gl1mx5w0000gn/T/ipykernel_98478/3520475379.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  monthly_trade['Max Dollar'] = monthly_trade['Dollar_Range'].apply(lambda x: x[1])
/var/folders/4d/ypqv_xfd1_x2khqr9gl1mx5w0000gn/T/ipykernel_98478/3520475379.py:10: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  ['Symbol', pd.Grouper(key='Date', freq='M')]

        Symbol       Date     Total_min     Total_max
0            A 1999-11-30  3.016329e+09  3.551754e+09
1            A 1999-12-31  2.476408e+09  2.708555e+09
2            A 2000-01-31  2.088580e+09  2.239660e+09
3            A 2000-02-29  1.989199e+09  2.158323e+09
4            A 2000-03-31  4.874974e+09  5.601360e+09
...        ...        ...           ...           ...
1358441   ZYXI 2019-12-31  5.514055e+07  5.917169e+07
1358442   ZYXI 2020-01-31  6.643932e+07  7.282736e+07
1358443   ZYXI 2020-02-29  6.896225e+07  7.639805e+07
1358444   ZYXI 2020-03-31  9.413058e+07  1.063616e+08
1358445   ZYXI 2020-04-30  3.320109e+06  3.525444e+06

[1358446 rows x 4 columns]

In [85]:
create_table_monthly_summary = """
create table monthly_summary(
    "Id" SERIAL PRIMARY KEY,
    "Date" DATE NOT NULL,
    "Symbol" VARCHAR(10) NOT NULL,
    "Total_min" FLOAT NOT NULL,
    "Total_max" FLOAT NOT NULL,
    FOREIGN KEY ("Symbol") REFERENCES tickers("NASDAQ Symbol") ON UPDATE CASCADE ON DELETE CASCADE
);
"""

In [86]:
with engine.begin() as conn:
    conn.execute(text(create_table_monthly_summary))

In [87]:
monthly_summary.to_sql('monthly_summary', engine, if_exists='append', index=False)

446

In [89]:
# Part 2.b Start


significant_changes = daily_prices[daily_prices['Percent Change'].abs() >= 0.20]
# significant_changes

result_table = significant_changes[['Date','Symbol' ,'Percent Change']]

In [93]:
create_table_extreme_change = """
create table extreme_change (
    "Id" SERIAL PRIMARY KEY,
    "Date" DATE NOT NULL,
    "Symbol" VARCHAR(10) NOT NULL,
    "Percent Change" FLOAT NOT NULL,
    FOREIGN KEY ("Symbol") REFERENCES tickers("NASDAQ Symbol") ON UPDATE CASCADE ON DELETE CASCADE
);
"""

In [95]:
with engine.begin() as conn:
    conn.execute(text(create_table_extreme_change))

In [96]:
# part 2.b Final

result_table.to_sql('extreme_change', engine, if_exists='append', index=False)

443

In [98]:
# Part 2.c Start
daily_prices_sorted = daily_prices.sort_values(['Symbol', 'Date'], ascending=[True, False])
del daily_prices_sorted['Percent Change']

most_recent = daily_prices_sorted.groupby('Symbol').head(1)
# most_recent

penny_stocks = most_recent[most_recent['Adj Close'] < 1.0]
# penny_stocks

In [99]:
new_order = ['Symbol'] + [col for col in penny_stocks.columns if col != 'Symbol']
penny_stocks = penny_stocks[new_order]
penny_stocks

,Symbol,Date,Open,High,Low,Close,Adj Close,Volume,Daily Return,Total Trades Range,Abs Diff Close,Log_Return,30 Day Volatility
14229422,AACG,2020-04-01,0.950,1.010,0.940,0.950,0.950,1900.0,0.00,1786.00 - 1919.00,0.0,0.000000,0.072870
12388198,AAU,2020-04-01,0.280,0.300,0.260,0.260,0.260,241700.0,-0.02,62842.00 - 72510.00,0.0,-0.074108,0.078004
18059400,ACB,2020-04-01,0.875,0.908,0.780,0.809,0.809,31305800.0,-0.10,24418523.10 - 28425666.16,0.0,-0.113240,0.095668
7872832,ACHV,2020-04-01,0.330,0.340,0.300,0.320,0.320,541000.0,-0.01,162300.01 - 183940.00,0.0,-0.030772,0.085269
15417935,ACOR,2020-04-01,0.920,0.950,0.790,0.800,0.800,1495900.0,-0.13,1181761.03 - 1421104.98,0.0,-0.150573,0.077960
...,...,...,...,...,...,...,...,...,...,...,...,...,...
25483916,ZFGN,2020-04-01,0.770,0.800,0.713,0.735,0.735,131500.0,-0.03,93759.50 - 105200.00,0.0,-0.046520,0.060177
17665329,ZKIN,2020-04-01,0.825,0.855,0.823,0.837,0.837,29800.0,-0.04,24525.40 - 25479.00,0.0,-0.050098,0.055850
22712076,ZN,2020-04-01,0.230,0.260,0.190,0.220,0.220,30934900.0,0.04,5877630.93 - 8043073.70,0.0,0.200671,0.079228
13698385,ZOM,2020-04-01,0.200,0.200,0.160,0.163,0.163,3670800.0,-0.03,587327.99 - 734160.01,0.0,-0.153274,0.140186
11992054,ZSAN,2020-04-01,0.550,0.570,0.520,0.546,0.546,756400.0,-0.02,393327.99 - 431147.99,0.0,-0.028883,0.093059

In [105]:
column_drop =['Daily Return', 'Total Trades Range', 'Abs Diff Close', 'Log_Return', '30 Day Volatility']
penny_stocks = penny_stocks.drop(columns=column_drop)

In [106]:
create_table_penny_stocks = """
create table penny_stocks  (
    "Id" SERIAL PRIMARY KEY,
    "Date" DATE NOT NULL,
    "Symbol" VARCHAR(10) NOT NULL,
    "Open" FLOAT NOT NULL,
    "High" FLOAT NOT NULL,
    "Low" FLOAT NOT NULL,
    "Close" FLOAT NOT NULL,
    "Adj Close" FLOAT NOT NULL,
    "Volume" FLOAT NOT NULL,
    FOREIGN KEY ("Symbol") REFERENCES tickers("NASDAQ Symbol") ON UPDATE CASCADE ON DELETE CASCADE
);
"""

In [101]:
with engine.begin() as conn:
    conn.execute(text(create_table_penny_stocks))

In [107]:
# Part 2.c final

penny_stocks.to_sql('penny_stocks', engine, if_exists='append', index=False)

467

In [114]:
# Part 5.f

numeric_columns = ['Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume', 'Percent Change', 'Daily Return', 'Abs Diff Close', '30 Day Volatility']

def summarize_group(g):
    summary = {}
    summary['Start_Date'] = g['Date'].min()
    summary['End_Date'] = g['Date'].max()
    summary['Row_Count'] = len(g)

    for col in numeric_columns:
        summary[f'{col}_min'] = g[col].min()
        summary[f'{col}_max'] = g[col].max()
        summary[f'{col}_mean'] = g[col].mean()
        summary[f'{col}_nulls'] = g[col].isnull().sum()

    return pd.Series(summary)

profiling_report = daily_prices.groupby('Symbol').apply(summarize_group).reset_index()
profiling_report

/var/folders/4d/ypqv_xfd1_x2khqr9gl1mx5w0000gn/T/ipykernel_98478/2780046510.py:19: FutureWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  profiling_report = daily_prices.groupby('Symbol').apply(summarize_group).reset_index()

,Symbol,Start_Date,End_Date,Row_Count,Open_min,Open_max,Open_mean,Open_nulls,High_min,High_max,...,Daily Return_mean,Daily Return_nulls,Abs Diff Close_min,Abs Diff Close_max,Abs Diff Close_mean,Abs Diff Close_nulls,30 Day Volatility_min,30 Day Volatility_max,30 Day Volatility_mean,30 Day Volatility_nulls
0,A,1999-11-18,2020-04-01,5124,7.653791,111.587982,34.090255,0,7.961373,115.879829,...,0.008189,1,0.0,15.917595,2.327570,0,0.005946,0.101194,0.022878,30
1,AA,1962-01-02,2020-04-01,14663,3.652560,115.007584,26.982694,0,3.720645,117.194313,...,0.000331,1,0.0,26.595100,6.512957,0,0.007314,0.693758,0.019669,29
2,AAAU,2018-08-15,2020-04-01,410,11.780000,16.809999,13.813366,0,11.800000,16.850000,...,0.010098,1,0.0,0.000000,0.000000,0,0.004334,0.115125,0.007744,29
3,AACG,2019-03-11,2020-04-01,261,0.720000,3.000000,1.746360,0,0.760000,4.500000,...,-0.000500,1,0.0,0.000000,0.000000,0,0.021792,0.532307,0.063964,29
4,AADR,2010-07-21,2020-04-01,2442,24.690001,63.189999,39.793952,0,24.700001,64.000000,...,0.006477,1,0.0,1.696291,1.013510,0,0.004063,0.584482,0.011071,29
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8044,ZUO,2014-07-15,2020-04-01,910,5.780000,36.060001,13.921655,0,5.780000,37.779999,...,-0.000352,1,0.0,0.000000,0.000000,0,0.009426,0.175218,0.035294,29
8045,ZVO,2019-04-15,2020-04-01,244,1.110000,6.380000,2.776381,0,1.350000,6.430000,...,-0.019383,1,0.0,0.000000,0.000000,0,0.027271,0.169305,0.060202,29
8046,ZYME,2017-04-28,2020-04-01,737,6.430000,49.220001,18.287411,0,6.710000,52.750000,...,0.028234,1,0.0,0.000000,0.000000,0,0.013975,0.380520,0.036456,29
8047,ZYNE,2015-08-05,2020-04-01,1173,2.850000,37.980000,10.956931,0,2.975000,43.000000,...,-0.010956,1,0.0,0.000000,0.000000,0,0.022814,0.204702,0.055703,29
8048,ZYXI,2004-02-25,2020-04-01,4054,0.060000,14.230000,1.527353,0,0.100000,15.270000,...,0.002285,1,0.0,2.799458,0.276147,0,0.010436,0.202662,0.070746,29

In [134]:
# profiling_report.columns

create_table_profiling_report = """
CREATE TABLE profiling_report (
    "Symbol" VARCHAR(10) PRIMARY KEY,
    "Start_Date" DATE NOT NULL,
    "End_Date" DATE NOT NULL,
    "Row_Count" INTEGER NOT NULL,
    "Open_min" FLOAT NOT NULL,
    "Open_max" FLOAT NOT NULL,
    "Open_mean" FLOAT NOT NULL,
    "Open_nulls" FLOAT NOT NULL,
    "High_min" FLOAT NOT NULL,
    "High_max" FLOAT NOT NULL,
    "High_mean" FLOAT NOT NULL,
    "High_nulls" FLOAT NOT NULL,
    "Low_min" FLOAT NOT NULL,
    "Low_max" FLOAT NOT NULL,
    "Low_mean" FLOAT NOT NULL,
    "Low_nulls" FLOAT NOT NULL,
    "Close_min" FLOAT NOT NULL,
    "Close_max" FLOAT NOT NULL,
    "Close_mean" FLOAT NOT NULL,
    "Close_nulls" FLOAT NOT NULL,
    "Adj Close_min" FLOAT NOT NULL,
    "Adj Close_max" FLOAT NOT NULL,
    "Adj Close_mean" FLOAT NOT NULL,
    "Adj Close_nulls" FLOAT NOT NULL,
    "Volume_min" FLOAT NOT NULL,
    "Volume_max" FLOAT NOT NULL,
    "Volume_mean" FLOAT NOT NULL,
    "Volume_nulls" FLOAT NOT NULL,
    "Percent Change_min" FLOAT,
    "Percent Change_max" FLOAT,
    "Percent Change_mean" FLOAT,
    "Percent Change_nulls" FLOAT NOT NULL,
    "Daily Return_min" FLOAT,
    "Daily Return_max" FLOAT,
    "Daily Return_mean" FLOAT,
    "Daily Return_nulls" FLOAT NOT NULL,
    "Abs Diff Close_min" FLOAT NOT NULL,
    "Abs Diff Close_max" FLOAT NOT NULL,
    "Abs Diff Close_mean" FLOAT NOT NULL,
    "Abs Diff Close_nulls" FLOAT NOT NULL,
    "30 Day Volatility_min" FLOAT,
    "30 Day Volatility_max" FLOAT,
    "30 Day Volatility_mean" FLOAT,
    "30 Day Volatility_nulls" FLOAT NOT NULL,
    FOREIGN KEY ("Symbol") REFERENCES tickers("NASDAQ Symbol") ON UPDATE CASCADE ON DELETE CASCADE

        )
"""

In [135]:
with engine.begin() as conn:
    conn.execute(text(create_table_profiling_report))

In [136]:
# finish 5.f
profiling_report.to_sql('profiling_report', engine, if_exists='append', index=False)

619

In [159]:
# Part 3.a

query = """
SELECT
    dp."Date",
    AVG(CASE WHEN t."ETF" = 'N' THEN dp."Daily Return" END) AS avg_stock_return,
    AVG(CASE WHEN t."ETF" = 'Y' THEN dp."Daily Return" END) AS avg_etf_return,
    AVG(CASE WHEN t."ETF" = 'N' THEN dp."Daily Return" END) - AVG(CASE WHEN t."ETF" = 'Y' THEN dp."Daily Return" END) AS return_difference
FROM daily_prices dp
JOIN tickers t ON dp."Symbol" = t."NASDAQ Symbol"
GROUP BY dp."Date"
Order by dp."Date";
"""

In [161]:
daily_returns = pd.read_sql(query, engine)
daily_returns = daily_returns.dropna()
daily_returns

             Date  avg_stock_return  avg_etf_return  return_difference
6099   1986-04-04     -6.419858e+16        0.120000      -6.419858e+16
6100   1986-04-07     -5.009346e+00        0.000000      -5.009346e+00
6101   1986-04-08      1.215181e+00        0.000000       1.215181e+00
6102   1986-04-09      3.218909e+16       -0.060000       3.218909e+16
6103   1986-04-10      2.968056e-02       -0.060000       8.968056e-02
...           ...               ...             ...                ...
14712  2020-03-26      1.496671e+00        1.426589       7.008143e-02
14713  2020-03-27     -9.336465e-01       -0.826803      -1.068435e-01
14714  2020-03-30      5.995833e-01        0.619786      -2.020298e-02
14715  2020-03-31     -2.487722e-01       -0.283411       3.463858e-02
14716  2020-04-01     -1.511546e+00       -1.287275      -2.242705e-01

[8567 rows x 4 columns]

In [162]:
query_1 = """
SELECT
    AVG(CASE WHEN t."ETF" = 'N' THEN dp."Daily Return" END) AS avg_stock_return,
    AVG(CASE WHEN t."ETF" = 'Y' THEN dp."Daily Return" END) AS avg_etf_return,
    AVG(CASE WHEN t."ETF" = 'N' THEN dp."Daily Return" END) - AVG(CASE WHEN t."ETF" = 'Y' THEN dp."Daily Return" END) AS return_difference
FROM daily_prices dp
JOIN tickers t ON dp."Symbol" = t."NASDAQ Symbol";
"""

In [163]:
# Part 3.A Finish
daily_returns_overall = pd.read_sql(query_1, engine)
daily_returns_overall

   avg_stock_return  avg_etf_return  return_difference
0      5.222787e+13      -52.377308       5.222787e+13

In [185]:
# Part 3.b

# investment = daily_prices[['Symbol', 'Date', 'Adj Close']]
# investment = pd.merge(
#     investment,
#     tickers[['NASDAQ Symbol', 'ETF']],
#     left_on='Symbol',
#     right_on='NASDAQ Symbol',
#     how='left'
# )
investment.drop(columns=['NASDAQ Symbol'], inplace=True)
investment

         Symbol       Date  Adj Close ETF
0             A 1999-11-18  27.068665   N
1             A 1999-11-19  24.838577   N
2             A 1999-11-22  27.068665   N
3             A 1999-11-23  24.607880   N
4             A 1999-11-24  25.261524   N
...         ...        ...        ...  ..
28151753   ZYXI 2020-03-26  11.100000   N
28151754   ZYXI 2020-03-27  10.300000   N
28151755   ZYXI 2020-03-30  10.800000   N
28151756   ZYXI 2020-03-31  11.070000   N
28151757   ZYXI 2020-04-01  10.920000   N

[28151758 rows x 4 columns]

In [187]:
base_df = (
    investment[investment['Date'] >= pd.Timestamp('2000-04-01')].sort_values('Date').groupby('Symbol', as_index=False).first()
)
base_df = base_df[['Symbol', 'Adj Close']].rename(columns={'Adj Close': 'Base Close'})
base_df

     Symbol  Base Close
0         A   60.289310
1        AA   64.000374
2      AAAU   11.740000
3      AACG    1.080000
4      AADR   23.343714
...     ...         ...
8044    ZUO    8.135000
8045    ZVO    6.350000
8046   ZYME   13.000000
8047   ZYNE   16.250000
8048   ZYXI    1.534255

[8049 rows x 2 columns]

In [188]:
latest_df = (
    investment.sort_values('Date').groupby('Symbol', as_index=False).last()
)
latest_df = latest_df[['Symbol', 'Adj Close']].rename(columns={'Adj Close': 'Latest Close'})
latest_df

     Symbol  Latest Close
0         A     68.919998
1        AA      6.250000
2      AAAU     15.870000
3      AACG      0.950000
4      AADR     39.029999
...     ...           ...
8044    ZUO      7.820000
8045    ZVO      1.640000
8046   ZYME     33.779999
8047   ZYNE      3.410000
8048   ZYXI     10.920000

[8049 rows x 2 columns]

In [201]:
merged = pd.merge(base_df, latest_df, on='Symbol')
merged['cumulative_return'] = merged['Latest Close'] / merged['Base Close']
merged

     Symbol  Base Close  Latest Close  cumulative_return
0         A   60.289310     68.919998           1.143155
1        AA   64.000374      6.250000           0.097656
2      AAAU   11.740000     15.870000           1.351789
3      AACG    1.080000      0.950000           0.879630
4      AADR   23.343714     39.029999           1.671970
...     ...         ...           ...                ...
8044    ZUO    8.135000      7.820000           0.961278
8045    ZVO    6.350000      1.640000           0.258268
8046   ZYME   13.000000     33.779999           2.598461
8047   ZYNE   16.250000      3.410000           0.209846
8048   ZYXI    1.534255     10.920000           7.117460

[8049 rows x 4 columns]

In [202]:
etf_info = investment[['Symbol', 'ETF']].drop_duplicates()

merged = pd.merge(merged, etf_info, on='Symbol')

best = merged.loc[merged.groupby('ETF')['cumulative_return'].idxmax()]
best

     Symbol  Base Close  Latest Close  cumulative_return ETF
1116    CCD    0.006094     15.240000        2500.626944   N
7883   XCOM    0.003971     32.084999        8080.349267   Y

In [205]:
# Part 3.b Finish

thousand_invest = best[['Symbol', 'cumulative_return']]
thousand_invest['cumulative_return'] = thousand_invest['cumulative_return'] * 100
thousand_invest

/var/folders/4d/ypqv_xfd1_x2khqr9gl1mx5w0000gn/T/ipykernel_98478/2531387184.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  thousand_invest['cumulative_return'] = thousand_invest['cumulative_return'] * 100

     Symbol  cumulative_return
1116    CCD      250062.694401
7883   XCOM      808034.926730

In [240]:
# Part 3.c Start

missing_dates_info = []
for symbol, group in daily_prices.groupby('Symbol'):

    group_dates = group['Date'].sort_values()

    start_date = group_dates.min()
    end_date = group_dates.max()
    complete_dates = pd.date_range(start=start_date, end=end_date, freq='D')

    missing_dates = complete_dates.difference(group_dates)

    for missing_date in missing_dates:
        missing_dates_info.append({'Symbol': symbol, 'Missing Date': missing_date})

missing_daily_prices = pd.DataFrame(missing_dates_info)
missing_daily_prices

In [244]:
us_holidays = ho.US()
def check_holidays(date):
    holiday_name = us_holidays.get(date)
    return holiday_name if holiday_name is not None else "Not a Holiday"
missing_daily_prices['Holiday'] = missing_daily_prices['Missing Date'].apply(check_holidays)

In [246]:
missing_daily_prices['Is Weekend'] = missing_daily_prices['Missing Date'].dt.weekday >= 5
missing_daily_prices

         Symbol Missing Date           Holiday  Is Weekend
0             A   1999-11-20     Not a Holiday        True
1             A   1999-11-21     Not a Holiday        True
2             A   1999-11-25  Thanksgiving Day       False
3             A   1999-11-27     Not a Holiday        True
4             A   1999-11-28     Not a Holiday        True
...         ...          ...               ...         ...
13091460   ZYXI   2020-03-15     Not a Holiday        True
13091461   ZYXI   2020-03-21     Not a Holiday        True
13091462   ZYXI   2020-03-22     Not a Holiday        True
13091463   ZYXI   2020-03-28     Not a Holiday        True
13091464   ZYXI   2020-03-29     Not a Holiday        True

[13091465 rows x 4 columns]

In [247]:
missing_daily_prices['Regular Day Label'] = missing_daily_prices.apply(
    lambda row: 'Regular Day'
    if (row['Holiday'] == 'Not a Holiday' and not row['Is Weekend'])
    else 'Holiday or Weekend',axis=1)
missing_daily_prices

         Symbol Missing Date           Holiday  Is Weekend   Regular Day Label
0             A   1999-11-20     Not a Holiday        True  Holiday or Weekend
1             A   1999-11-21     Not a Holiday        True  Holiday or Weekend
2             A   1999-11-25  Thanksgiving Day       False  Holiday or Weekend
3             A   1999-11-27     Not a Holiday        True  Holiday or Weekend
4             A   1999-11-28     Not a Holiday        True  Holiday or Weekend
...         ...          ...               ...         ...                 ...
13091460   ZYXI   2020-03-15     Not a Holiday        True  Holiday or Weekend
13091461   ZYXI   2020-03-21     Not a Holiday        True  Holiday or Weekend
13091462   ZYXI   2020-03-22     Not a Holiday        True  Holiday or Weekend
13091463   ZYXI   2020-03-28     Not a Holiday        True  Holiday or Weekend
13091464   ZYXI   2020-03-29     Not a Holiday        True  Holiday or Weekend

[13091465 rows x 5 columns]

In [248]:
# Part 3.c Finish

regular_days = missing_daily_prices[missing_daily_prices['Regular Day Label'] == 'Regular Day']
regular_days

         Symbol Missing Date        Holiday  Is Weekend Regular Day Label
48            A   2000-04-21  Not a Holiday       False       Regular Day
159           A   2001-04-13  Not a Holiday       False       Regular Day
207           A   2001-09-11  Not a Holiday       False       Regular Day
208           A   2001-09-12  Not a Holiday       False       Regular Day
209           A   2001-09-13  Not a Holiday       False       Regular Day
...         ...          ...            ...         ...               ...
13091008   ZYXI   2016-03-25  Not a Holiday       False       Regular Day
13091127   ZYXI   2017-04-14  Not a Holiday       False       Regular Day
13091236   ZYXI   2018-03-30  Not a Holiday       False       Regular Day
13091313   ZYXI   2018-12-05  Not a Holiday       False       Regular Day
13091356   ZYXI   2019-04-19  Not a Holiday       False       Regular Day

[428730 rows x 5 columns]

In [206]:
# Part 3.d Start

query_2 = """
SELECT "Symbol", "Date", "Close", "Adj Close", ABS("Close" - "Adj Close") / NULLIF("Close", 0) * 100 AS percent_difference
FROM daily_prices
WHERE ABS("Close" - "Adj Close") / NULLIF("Close", 0) > 0.25;
"""

In [207]:
strange_close = pd.read_sql(query_2, engine)
strange_close

        Symbol        Date      Close  Adj Close  percent_difference
0          AFC  2010-02-16  18.450001   9.007010           51.181517
1          AFC  2010-02-17  18.510000   9.036301           51.181521
2          AFC  2010-02-18  18.600000   9.080237           51.181520
3          AFC  2010-02-19  18.850000   9.202285           51.181514
4          AFC  2010-02-22  18.820000   9.187641           51.181502
...        ...         ...        ...        ...                 ...
9228276    AFC  2010-02-08  18.469999   9.016776           51.181503
9228277    AFC  2010-02-09  18.420000   8.992366           51.181510
9228278    AFC  2010-02-10  18.530001   9.046066           51.181511
9228279    AFC  2010-02-11  18.719999   9.138820           51.181517
9228280    AFC  2010-02-12  18.629999   9.094882           51.181522

[9228281 rows x 5 columns]

In [210]:
# Part 3.d Finish
unique_symbols = strange_close[['Symbol']].drop_duplicates()
unique_symbols

        Symbol
0          AFC
1478       AFG
9569       AFK
10187      AFL
18489      AFT
...        ...
9204937    AEM
9208978    AEO
9213173    AEP
9223861    AES
9224459    AFB

[2528 rows x 1 columns]

In [214]:
# Part 3.e Start
query_3 = """
SELECT "Date", COUNT("Percent Change") AS count_percent_change, AVG("Percent Change") AS avg_change
FROM extreme_change
GROUP BY "Date"
ORDER BY count_percent_change DESC;
"""

In [215]:
# Part. 3.e Finish

extreme_dates = pd.read_sql(query_3, engine)
extreme_dates

            Date  count_percent_change  avg_change
0     2020-03-18                  1188   -0.253502
1     2020-03-16                   972   -0.203230
2     2020-03-19                   695    0.332533
3     2020-03-12                   681   -0.202596
4     2020-03-24                   572    0.233669
...          ...                   ...         ...
9291  1973-07-25                     1    0.347826
9292  1988-02-04                     1    0.214286
9293  1989-01-30                     1    0.206014
9294  1988-06-13                     1    0.394793
9295  1994-01-27                     1    0.237410

[9296 rows x 3 columns]

In [218]:
# Part 4 start
tickers

,Nasdaq Traded,Symbol,Security Name,Listing Exchange,Market Category,ETF,Round Lot Size,Test Issue,Financial Status,CQS Symbol,NASDAQ Symbol,NextShares
0,Y,A,"Agilent Technologies, Inc. Common Stock",N,,N,100.0,N,NaN,A,A,N
1,Y,AA,Alcoa Corporation Common Stock,N,,N,100.0,N,NaN,AA,AA,N
2,Y,AAAU,Perth Mint Physical Gold ETF,P,,Y,100.0,N,NaN,AAAU,AAAU,N
3,Y,AACG,ATA Creativity Global - American Depositary Sh...,Q,G,N,100.0,N,N,NaN,AACG,N
4,Y,AADR,AdvisorShares Dorsey Wright ADR ETF,P,,Y,100.0,N,NaN,AADR,AADR,N
...,...,...,...,...,...,...,...,...,...,...,...,...
8044,Y,ZUO,"Zuora, Inc. Class A Common Stock",N,,N,100.0,N,NaN,ZUO,ZUO,N
8045,Y,ZVO,Zovio Inc. - Common Stock,Q,Q,N,100.0,N,N,NaN,ZVO,N
8046,Y,ZYME,Zymeworks Inc. Common Shares,N,,N,100.0,N,NaN,ZYME,ZYME,N
8047,Y,ZYNE,"Zynerba Pharmaceuticals, Inc. - Common Stock",Q,G,N,100.0,N,N,NaN,ZYNE,N
8048,Y,ZYXI,"Zynex, Inc. - Common Stock",Q,S,N,100.0,N,N,NaN,ZYXI,N

In [231]:
query_4 = """
SELECT t."Financial Status", t."ETF", COUNT(*) AS trade_days, AVG(NULLIF(dp."Adj Close", 0)) AS avg_percent_change, AVG(dp."Daily Return") AS avg_daily_return
FROM public.daily_prices dp
JOIN public.tickers t ON dp."Symbol" = t."NASDAQ Symbol"
GROUP BY t."Financial Status", t."ETF"
ORDER BY t."Financial Status", t."ETF";
"""

In [227]:
financial_status = pd.read_sql(query_4, engine)
financial_status

  Financial Status ETF  trade_days  avg_percent_change  avg_daily_return
0                D   N      485757        1.528797e+08     -1.770309e+05
1                D   Y         388        2.264722e+01     -1.989664e-02
2                E   N       33134        6.584919e+02     -5.476454e-02
3                H   N       11770        1.998970e+02     -6.543643e-01
4                N   N     9839899        3.582179e+04     -2.858601e+02
5                N   Y      695799        7.357273e+01     -7.851399e-02
6             None   N    13826882       -1.263128e+17      9.139760e+13
7             None   Y     3258129        3.554769e+03     -6.355219e+01

In [230]:
query_5 = """
SELECT t."Listing Exchange", t."ETF", COUNT(*) AS trade_days, AVG(NULLIF(dp."Adj Close", 0)) AS avg_percent_change, AVG(dp."Daily Return") AS avg_daily_return
FROM public.daily_prices dp
JOIN public.tickers t ON dp."Symbol" = t."NASDAQ Symbol"
GROUP BY t."Listing Exchange", t."ETF"
ORDER BY t."Listing Exchange", t."ETF";
"""

In [232]:
listing_exchange = pd.read_sql(query_5, engine)
listing_exchange

  Listing Exchange ETF  trade_days  avg_percent_change  avg_daily_return
0                A   N     1232042        6.818320e+04     -1.444770e+02
1                A   Y        4079        1.598625e+01      4.070623e-03
2                N   N    12365033       -1.412460e+17      1.022025e+14
3                P   N      194994        1.183214e+03     -3.128958e+00
4                P   Y     2914447        3.967107e+03     -7.103361e+01
5                Q   N    10370560        7.194927e+06     -8.562563e+03
6                Q   Y      696187        7.354435e+01     -7.848138e-02
7                Z   N       34813        5.897532e+01     -5.321338e-03
8                Z   Y      339603        5.849100e+01     -7.713465e-02

In [234]:
query_6 = """
SELECT t."Market Category", t."ETF", COUNT(*) AS trade_days, AVG(NULLIF(dp."Adj Close", 0)) AS avg_percent_change, AVG(dp."Daily Return") AS avg_daily_return
FROM public.daily_prices dp
JOIN public.tickers t ON dp."Symbol" = t."NASDAQ Symbol"
GROUP BY t."Market Category", t."ETF"
ORDER BY t."Market Category", t."ETF";
"""

In [235]:
# Part 4 Finish

market_category = pd.read_sql(query_6, engine)
market_category

  Market Category ETF  trade_days  avg_percent_change  avg_daily_return
0                   N    13826882       -1.263128e+17      9.139760e+13
1                   Y     3258129        3.554769e+03     -6.355219e+01
2               G   N     1485439        2.341919e+05     -1.891717e+03
3               G   Y      696187        7.354435e+01     -7.848138e-02
4               Q   N     6337830        2.265848e+02     -6.051016e-03
5               S   N     2547291        2.915509e+07     -3.375997e+04